
.title {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color:midnightblue;
}
.design{
    padding:20px;
    background-color:yellowgreen;
}
.page{
    float: left;
    width:30%;
}
.tableColor{
    background-color:bisque;
}
h3{
    background-color:yellowgreen;
    color:white;
}
.column{
    float:left;
    width:60%;
}
.end{
    float:left;
    width:10%;
}
.main{
    display:flex;
    width:100%;
}
.bottom{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:midnightblue;
    color:yellowgreen;
    padding:20px;
}
.color_content{
    color:darkslateblue;
}

body {
    border-color: lightgray;
    border-style: solid;
    align-content: center;
    margin-left: 22%;
    max-width: 900px;
    height: 1140px;
    width: 1300%;
    resize: both;
}
.action{
    color:darkblue;
}
.logo {
    width:50px; 
    height:50px; 
    margin-right:100px;
    border-style:solid; 
    border-width:1px;
}
.heading {
    background-color: yellowgreen;
    color: white;
    padding-top:0.3em;
    padding-bottom:0.3em;
}
.image{
    margin-top:190px;
}
.secondImage{
    margin-top:150px;
}

.footer {
   margin-top:980px; 
   height:60px;
   width:900px; 
   background-color:yellowgreen;
   text-align:center;
}

.flower {
    width: 200px; 
    height: 200px;
}

.imageAction {
    width :25px; 
    height:25px;
}body {
}
